    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

    :root{
        --primary-withe: #FFFFFF;
        --secundary-grey: #C0C0C0;
        --button-blue: #167BF7;
        --background: #00030C;

        --primary-font : "Inter", serif;
    }

    *{
        padding: 0;
        margin: 0;
    }


    body{
        background-color: var(--background);
        font-family: var(--primary-font);
        font-weight: 400;
        color: var(--primary-withe);
        font-size: 1rem;

    }

    .apresentation{
        background-image: url("/assets/Background.png");
        background-repeat: no-repeat;
        background-size: contain;
        align-items: center;
        text-align: center;
    }

    .container{
        min-height: 100vh;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .container__description{
        padding: 4em;
    }

    .container__div{
        margin: 12em;
    }

    .container__title{
        font-size: 1.75rem;
        font-weight: 700            ;
    }

    .container__image{
        margin: 1em 0 2em 0;
    }

    .container__button{
        background-color: var(--button-blue);
        text-decoration: none;
        border-radius: 8px;
        margin-bottom: 1em;

        color: var(--primary-withe);
        padding: 1em;
        display: block;
        text-align: center;

        
    }

    .secundary_button{
        background-color: transparent;
        border: 2px solid var(--primary-withe);
    }

    .container__warning{
        color: var(--secundary-grey);
        font-size: 0.75rem;
    }

    .secundary{
        align-items: center;
        margin: 0 15em;
    }

    .secundary__image{
        width: 80%;
    }

    .description__title, .devices__title{
        font-size: 3rem;
        margin-bottom: 0.1em;
        font-weight: 700;
    }

    .description__text{
        color: var(--secundary-grey);
    }

    .small_button{
        display: inline-block;
        margin-top: 1em;
    }

    .devices{
        margin: 0 15em;
        min-height: 100vh;
    }

    .devices__title{
        text-align: center;
        margin-bottom: 1em;
    }

    .devices__icons{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }

    .devices__icons__image{
        width: 100%;
    }

    .devices__icons__text{
        font-family: var(--primary-font);
        font-weight: 700;
        font-size: 2rem;
        text-align: center;
    }

    footer{
        text-align: center;
        font-family: var(--primary-font);
        font-weight: 400;
        color: var(--secundary-grey);
        font-size: 0.875rem;
        margin: 0 20em 6em 20em;;
    }

    .footer__list{
        display:flex;
        list-style-type: none;
        gap: 2em;
        justify-content: center;
        margin: 2em 0;
    }

    .list__link{
        text-decoration: none;
        color: var(--primary-withe);
        font-size: 1rem;
    }

    .footer__text{
        margin-bottom: 2em;
    }

    .footer__list a:hover{
        color: var(--button-blue);
    }

    .container__button:hover{
        background-color: var(--secundary-grey);
        color: var(--background);
    }

    @media (max-width: 1500px){
        .apresentation{
            background-image: none;
        }

        .container{
            display: flex;
        }

        .container__div{
            margin: 2em;
        }

        .secundary{
            margin: 2em;
            display: flex;
            flex-direction: column-reverse;
        }

        .container__description{
            padding: 0;
        }

        .secundary__image{
            padding: 2em 0;
        }
        
        .devices{
            margin: 25em 2em 25em 2em;
        }

        .devices__icons, .footer__list{
            display: flex;
            flex-direction: column;
        }

        footer{
            margin: 2em;
        }
    
    }